node_modules
.next
lib
dist
out
coverage
**/playwright-report
**/playwright-report-provider
**/test-results
**/test-results-provider
.firebase
pnpm-lock.yaml
firebase-debug.log*
firestore-debug.log*
ui-debug.log*
next-env.d.ts
