@import url("https://api.fontshare.com/v2/css?f[]=satoshi@300,301,400,401,500,501,700,701,900,901,1,2&display=swap");

@theme {
	--color-*: initial;

	--color-sage-50: #fbf9f2;
	--color-sage-100: #f2efe6;
	--color-sage-200: #e5dfd2;
	--color-sage-300: #cdd0c2;
	--color-sage-400: #b2bbaa;
	--color-sage-500: #99a48a;
	--color-sage-600: #7f8973;
	--color-sage-700: #69725f;
	--color-sage-800: #4e5347;
	--color-sage-900: #35362f;
	--color-sage-950: #171814;

	--color-yellow-50: #fbffe8;
	--color-yellow-100: #f4ffc2;
	--color-yellow-200: #e8ff85;
	--color-yellow-300: #d8ff57;
	--color-yellow-400: #c7ff3d;
	--color-yellow-500: #a7df1d;
	--color-yellow-600: #83b30e;
	--color-yellow-700: #64880f;
	--color-yellow-800: #4f6b13;
	--color-yellow-900: #425817;
	--color-yellow-950: #213108;

	--color-blue-50: #eff8ff;
	--color-blue-100: #dbefff;
	--color-blue-200: #b9e0ff;
	--color-blue-300: #7ac7ff;
	--color-blue-400: #38a8f5;
	--color-blue-500: #1689d4;
	--color-blue-600: #1f6c9f;
	--color-blue-700: #1d587f;
	--color-blue-800: #204b69;
	--color-blue-900: #203f57;
	--color-blue-950: #14283a;

	--color-green-50: #edf3ec;
	--color-green-100: #e0eedf;
	--color-green-200: #c1dcc0;
	--color-green-300: #94c293;
	--color-green-400: #67a867;
	--color-green-500: #468c49;
	--color-green-600: #39763d;
	--color-green-700: #346538;
	--color-green-800: #2b5030;
	--color-green-900: #254229;
	--color-green-950: #112416;

	--color-red-50: oklch(0.969 0.015 12.422);
	--color-red-100: oklch(0.941 0.03 12.58);
	--color-red-200: oklch(0.892 0.058 10.001);
	--color-red-300: oklch(0.81 0.117 11.638);
	--color-red-400: oklch(0.712 0.194 13.428);
	--color-red-500: oklch(0.645 0.246 16.439);
	--color-red-600: oklch(0.586 0.253 17.585);
	--color-red-700: oklch(0.514 0.222 16.935);
	--color-red-800: oklch(0.455 0.188 13.697);
	--color-red-900: oklch(0.41 0.159 10.272);
	--color-red-950: oklch(0.271 0.105 12.094);

	--font-sans: "Satoshi", "Helvetica Neue", Arial, sans-serif;
	--ease-mass: cubic-bezier(0.32, 0.72, 0, 1);
}
